
.section-title {
    padding-top: 35px;
    padding-bottom: 30px;
}
section {
    padding-bottom: 50px;
}

// Hero

.hero {

    @media (max-width: 768px) {
        background-image: none;
    }
    .container {
    }
    // .hero__wrapper
    &__wrapper {
        padding-top: 40px;

        @media (max-width: 768px) {
            padding-top: 40px;
        }
    }
    // .hero__content
    &__content {
    }
    // .hero__top
    &__top {
    }
    // .hero__logo
    &__logo {
    }
    // .hero__top-date
    &__top-date {
    }
    // .hero__top-text
    &__top-text {
    }
    // .hero__title
    &__title {
        font-size: 48px;
        line-height: 1.1;

        @media (max-width: 920px) {
            font-size: 34px;
        }
        @media (max-width: 768px) {
            font-size: 25px;
        }
    }
    // .hero__pretitle-2
    &__pretitle-2 {

        @media (max-width: 920px) {
            font-size: 18px;
        }
    }
    // .hero__btns
    &__btns {
    }
    // .hero__btn
    &__btn {
    }
    // .hero__gift
    &__gift {
    }
    // .hero__gift-icon
    &__gift-icon {
    }
    // .hero__gift-box
    &__gift-box {
    }
    // .hero__gift-text
    &__gift-text {
    }
    // .hero__bottom-arrow
    &__bottom-arrow {
        margin-top: 40px;

        @media (max-width: 480px) {
            margin-top: 40px;
        }
    }
}
.modal {
    // .modal__btn
    &__btn {
    }
    // .modal__wrapper
    &__wrapper {
    }
    // .modal__close
    &__close {
    }
    // .modal__body
    &__body {
    }
    // .modal__title
    &__title {
    }
    // .modal__checkbox
    &__checkbox {
    }
    // .modal__checkbox-text
    &__checkbox-text {
    }
}
.contact-form {
}


.box {
    padding-top: 40px;

    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
    align-items: start;

    @media (max-width: 680px) {
        grid-template-columns: 1fr;
        gap: 55px 20px;
    }
    // .box__item
    &__item {
        padding: 25px;
        border-radius: 10px;
        background: #fafafa;
        color: #000;
        
        // box-shadow: 4px 4px 18px 3px rgba(0, 0, 255, .2);

        @media (max-width: 480px) {
            padding: 20px;
        }
    }
    // .box__item-icon
    &__item-icon {
        max-width: 110px;
        background: #fff;
        padding: 15px;
        border-radius: 999px;
        margin-bottom: 10px;
        margin-top: -80px;
        border: 10px solid #1f1f1f;

        @media (max-width: 768px) {
            max-width: 90px;
            padding: 10px;
            margin-top: -70px;
        }

        img {
            max-width: 100%;
            width: 100%;
        }
    }
    // .box__item-title
    &__item-title {
        max-width: 450px;
        font-weight: 600;
        font-size: 30px;
        line-height: 1.3;
        padding-bottom: 15px;
        
        @media (max-width: 920px) {
            font-size: 25px;
            line-height: 1.2;
        }
        @media (max-width: 768px) {
            font-size: 22px;
            padding-bottom: 10px;
        }
        @media (max-width: 480px) {
            font-size: 20px;
        }
    }
    // .box__item-text
    &__item-text {
        font-size: 19px;
        line-height: 1.3;
        padding-bottom: 15px;

        span {
            font-weight: 700;
        }

        @media (max-width: 768px) {
            font-size: 16px;
            line-height: 1.1;
        }
    }
    &__item-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

.for {
    // .for__wrapper
    &__wrapper {
        grid-template-columns: repeat(4, 1fr);
        padding-top: 20px;

        @media (max-width: 920px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 768px) {
            margin-top: 0;
            gap: 35px 20px;
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 480px) {
            padding-top: 0;
            grid-template-columns: 1fr;
        }
    }
    // .for__item
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .box__item-icon {
            max-width: 150px;
            padding: 0px;
            background: none;
            margin-top: 0 !important;
        }

        .box__item-title {
            font-size: 24px;
            text-align: center;

            @media (max-width: 480px) {
                font-size: 20px;
            }
        }
    }
}

.result {
    background: #171717;
    // .result__wrapper
    &__wrapper {
    }
    // .result__item
    &__item {
        .box__item-icon {
            border: 10px solid #171717;
        }
    }
}

.tarif {
    // .tarif__wrapper
    &__wrapper {
    }
    // .tarif__item
    &__item {

        &:nth-child(2) {
            background: #B00000;

            p, .box__item-text {
                color: #fff;
            }

            .box__item-title {
                &::after {
                    background: #fff;
                }
            }

            .hero__btn {
                background: #fff;
                color: #B00000;
                border: 1px solid #B00000;

                &:hover {
                    background: #B00000;
                    color: #fff;
                    border: 1px solid #fff;
                }
            }
        }
        
        .box__item-title {
            max-width: 100%;
            text-align: center;
            margin-bottom: 20px;
            padding-bottom: 20px;

            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background: #000;
            }
        }
        .box__item-icon {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__btn {
        max-width: 100%;
        margin: 30px auto 0;
    }
    &__btn-2 {
        max-width: 100%;
        margin: 10px auto 0;
        // background: rgb(83, 167, 196);
    }
}


.module {
    // .module__wrapper
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__inner {
        display: grid;
        align-items: start;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px 30px;
        padding-top: 30px;

        @media (max-width: 920px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
        @media (max-width: 480px) {
            gap: 10px 10px;
            padding-top: 15px;
        }
    }
    // .module__item
    &__item {
        padding: 50px;

        @media (max-width: 768px) {
            padding: 30px;
        }
        @media (max-width: 480px) {
            padding: 20px;
        }
    }
    // .module__top
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding-bottom: 20px;

        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: #000;
        }
    }
    // .module__top-box
    &__top-box {
    }
    // .module__top-pretitle
    &__top-pretitle {
        font-weight: 500;
        font-size: 22px;
        line-height: 1.1;
        color: #B00000;
        padding-bottom: 15px;
    }
    // .module__top-title
    &__top-title {
        font-weight: 600;
        font-size: 32px;
        line-height: 1.1;

        @media (max-width: 480px) {
            font-size: 28px;
        }
    }
    // .module__top-img
    &__top-img {
        max-width: 100px;

        img {
            max-width: 100%;
            width: 100%;
        }
    }
    // .module__item-list
    &__item-list {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-radius: 10px;

        @media (max-width: 480px) {
            padding: 12px;
        }
    }
    // .module__item-title
    &__item-title {
        font-weight: 600;
        font-size: 22px;
        line-height: 1.1;
    }
    // .module__item-text
    &__item-text {
        font-size: 19px;
        line-height: 1.1;
    }
    // .module__item-result
    &__item-result {
        background: #B00000;

        p {
            color: #fff;
        }
    }
}



.answer {
    background: #171717;
}
.accordion {
    .accordion__item {
        border-bottom: 2px solid#fff;

        &.accordion__item-active {
            .accordion__item-content {
                display: block;
            }

            .line2 {
                transform: translate(0) !important;
                transition: .1s all ease;
            }

            .line1 {
                opacity: 0;
                transition: .1s all ease;

            }
        }


        .accordion__item-trigger {
            display: flex;
            padding: 20px 0;
            align-items: center;
            cursor: pointer;

            .trigger__num {
                margin-right: 10px;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.035em;
                color: #8547C6;
            }

            .trigger__text {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 1.1;
                letter-spacing: 0.035em;
                color: #fff;
                margin-left: 10px;

                @media (max-width: 480px) {
                    font-size: 20px;
                }
            }

            .trigger__img {
                position: relative;
                margin-left: auto;

                .line1 {
                    display: block;
                    width: 18px;
                    height: 2px;
                    background: #fff;
                    border-radius: 100px;
                }

                .line2 {
                    display: block;
                    width: 18px;
                    height: 2px;
                    background: #fff;
                    margin-top: -2px;
                    border-radius: 100px;
                    transform: rotate(90deg);
                }
            }
        }

        .accordion__item-content {
            padding-bottom: 20px;
            display: none;
            animation: fade .3s ease;

            .content__text {
                font-size: 22px;
                margin-top: 25px;
                padding-left: 10px;

                &:first-child {
                    margin-top: 0;
                }

                a {
                    color: #B00000;
                }
            }
        }


    }

}


.payment {
    background: #171717;
    // .payment__wrapper
    &__wrapper {
        margin: 40px 0 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px 20px;

        @media (max-width: 920px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 480px) {
            grid-template-columns: 1fr;
        }
    }
    // .payment__item
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
    }
    // .payment__item-img
    &__item-img {
        max-width: 140px;

        @media (max-width: 768px) {
            max-width: 80px;
        }
        @media (max-width: 480px) {
            max-width: 60px;
        }

        img {
            max-width: 100%;
            width: 100%;
        }
    }
    // .payment__item-text
    &__item-text {
        text-align: center;
        font-size: 22px;
        line-height: 1.1;

        @media (max-width: 480px) {
            font-size: 19px;
        }

        span {
            font-weight: 600;
        }
    }
    // .payment__btn
    &__btn {
        max-width: 330px;
        width: 100%;
        margin: 0 auto;
    }
}

.about {
    // .about__wrapper
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        gap: 20px 50px;

        @media (max-width: 680px) {
            grid-template-columns: 1fr;

        }
    }
    // .about__img
    &__img {
        max-width: 500px;
        img {
            border-radius: 10px;
            max-width: 100%;
            width: 100%;
        }
    }
    // .about__info
    &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    // .about__text
    &__text {
        font-weight: 500;
        font-size: 22px;
        line-height: 1.1;

        @media (max-width: 480px) {
            font-size: 18px;
        }
    }
}

.review {
    // .review__wrapper
    &__wrapper {
    }
    // .review__swiper
    &__swiper {
        padding-top: 50px;
    }
    // .review__slider
    &__slider {
    }
    // .review__slide
    &__slide {
        text-align: center;
    }
    // .review__slide-icon
    &__slide-icon {
        max-width: 110px;
        height: 110px;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
    }

    &__btn {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
    &__btns {
        max-width: 150px;
        width: 100%;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 20px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.swiper-button-prev {
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.swiper-button-next {
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}


.footer {
    background: #171717;
    // .footer__wrapper
    &__wrapper {
        justify-content: space-between;
    }
    // .footer__box
    &__box {
        max-width: none;
        width: auto;
    }
    // .footer__logo
    &__logo {
    }
    // .footer__text
    &__text {
        line-height: 1.1;
    }
    // .footer__rights
    &__rights {
        margin-top: 10px;
    }
    // .footer__soc
    &__soc {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
    // .footer__soc-link
    &__soc-link {
        display: flex;
        align-items: center;
        color: #fff;
        gap: 10px;

        img {
            max-width: 70px;
            width: 100%;
        }
    }
    // .footer__policy
    &__policy {
    }
    // .footer__inn
    &__inn {
        margin-top: 0;
    }
}
