.main__body {
  overflow-x: hidden;
}

.section-title {
  padding-top: 35px;
  padding-bottom: 30px;
}
@media (max-width: 480px) {
  .section-title {
    text-align: center;
  }
}

section {
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .hero {
    background-image: none;
  }
}
.hero__wrapper {
  padding-top: 40px;
}
@media (max-width: 768px) {
  .hero__wrapper {
    padding-top: 40px;
  }
}
.hero__top-date {
  min-width: auto;
}
.hero__title {
  font-size: 48px;
  line-height: 1.1;
}
@media (max-width: 920px) {
  .hero__title {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 25px;
  }
}
@media (max-width: 920px) {
  .hero__pretitle-2 {
    font-size: 18px;
  }
}
.hero__btn {
  cursor: pointer;
}
.hero__bottom-arrow {
  margin-top: 40px;
}
@media (max-width: 480px) {
  .hero__bottom-arrow {
    margin-top: 40px;
  }
}

.modal__title {
  color: #000;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.1;
  padding-bottom: 20px;
}
.modal__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
}

.contact-form {
  max-width: 100%;
  min-width: 50%;
  display: flex;
}

textarea {
  min-height: 150px;
}

.box {
  padding-top: 20px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px 20px;
  align-items: start;
}
@media (max-width: 680px) {
  .box {
    grid-template-columns: 1fr;
    gap: 35px 20px;
  }
}
.box__item {
  padding: 25px;
  border-radius: 10px;
  background: #fafafa;
  color: #000;
}
@media (max-width: 480px) {
  .box__item {
    padding: 20px;
  }
}
.box__item-icon {
  max-width: 140px;
  background: #fff;
  padding: 15px;
  border-radius: 999px;
  margin-bottom: 10px;
  margin-top: -80px;
  border: 10px solid #1f1f1f;
}
@media (max-width: 768px) {
  .box__item-icon {
    max-width: 90px;
    padding: 10px;
    margin-top: -70px;
  }
}
.box__item-icon img {
  max-width: 100%;
  width: 100%;
}
.box__item-title {
  max-width: 450px;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  padding-bottom: 15px;
}
.box__item-title s {
  font-size: 22px;
}
@media (max-width: 920px) {
  .box__item-title {
    font-size: 25px;
    line-height: 1.2;
  }
}
@media (max-width: 768px) {
  .box__item-title {
    font-size: 22px;
    padding-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .box__item-title {
    font-size: 20px;
  }
}
.box__item-text {
  font-size: 19px;
  line-height: 1.1;
  padding-bottom: 15px;
  text-align: left;
}
.box__item-text span {
  font-weight: 700;
}
@media (max-width: 768px) {
  .box__item-text {
    font-size: 16px;
    line-height: 1.1;
  }
}
.box__item-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.box__item-link {
  text-decoration: underline;
}

.for__wrapper {
  grid-template-columns: repeat(4, 1fr);
  padding-top: 20px;
}
@media (max-width: 920px) {
  .for__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .for__wrapper {
    margin-top: 0;
    gap: 35px 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .for__wrapper {
    padding-top: 0;
    grid-template-columns: 1fr;
  }
}
.for__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.for__item .box__item-icon {
  padding: 0px;
  background: none;
  margin-top: 0 !important;
  border-radius: none;
  border: none;
}
.for__item .box__item-title {
  font-size: 22px;
  text-align: center;
}
@media (max-width: 480px) {
  .for__item .box__item-title {
    font-size: 20px;
  }
}

.result {
  background: #171717;
}
.result__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 768px) {
  .result__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .result__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.result__item {
  gap: 15px;
}
.result__item .box__item-icon {
  border: 10px solid #171717;
}

.tarif__wrapper {
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1200px) {
  .tarif__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .tarif__wrapper {
    grid-template-columns: 1fr;
  }
}
.tarif__item {
  position: relative;
}
.tarif__item:nth-child(2) {
  background: #B00000;
}
.tarif__item:nth-child(2) p, .tarif__item:nth-child(2) .box__item-text {
  color: #fff;
}
.tarif__item:nth-child(2) .box__item-title::after {
  background: #fff;
}
.tarif__item:nth-child(2) .hero__btn {
  background: #fff;
  color: #B00000;
  border: 1px solid #B00000;
}
.tarif__item:nth-child(2) .hero__btn:hover {
  background: #B00000;
  color: #fff;
  border: 1px solid #fff;
}
.tarif__item .box__item-title {
  max-width: 100%;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.tarif__item .box__item-title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #000;
}
.tarif__item .box__item-icon {
  margin-left: auto;
  margin-right: auto;
}
.tarif__btn {
  max-width: 100%;
  margin: 10px auto 0px;
  width: 100%;
  font-family: "Nunito", sans-serif;
  cursor: pointer;
}
.tarif__btn-2 {
  cursor: pointer;
}

.module__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.module__inner {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 30px;
  padding-top: 30px;
}
@media (max-width: 920px) {
  .module__inner {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .module__inner {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 480px) {
  .module__inner {
    gap: 10px 10px;
    padding-top: 15px;
  }
}
.module__item {
  padding: 50px;
}
@media (max-width: 768px) {
  .module__item {
    padding: 30px;
  }
}
@media (max-width: 480px) {
  .module__item {
    padding: 20px;
  }
}
.module__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  position: relative;
}
.module__top::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #000;
}
.module__top-pretitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.1;
  color: #B00000;
  padding-bottom: 15px;
}
.module__top-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.1;
}
@media (max-width: 480px) {
  .module__top-title {
    font-size: 28px;
  }
}
.module__top-img {
  max-width: 100px;
}
.module__top-img img {
  max-width: 100%;
  width: 100%;
}
.module__item-list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
}
@media (max-width: 480px) {
  .module__item-list {
    padding: 12px;
  }
}
.module__item-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.1;
}
.module__item-text {
  font-size: 19px;
  line-height: 1.1;
}
.module__item-result {
  background: #B00000;
}
.module__item-result p {
  color: #fff;
}

.module__inner .module__item-list:nth-child(1),
.module__inner .module__item-list:nth-child(2) {
  padding-left: 0 !important;
}

.answer {
  background: #171717;
}

.accordion .accordion__item {
  border-bottom: 2px solid #fff;
}
.accordion .accordion__item.accordion__item-active .accordion__item-content {
  display: block;
}
.accordion .accordion__item.accordion__item-active .line2 {
  transform: translate(0) !important;
  transition: 0.1s all ease;
}
.accordion .accordion__item.accordion__item-active .line1 {
  opacity: 0;
  transition: 0.1s all ease;
}
.accordion .accordion__item .accordion__item-trigger {
  display: flex;
  padding: 20px 0;
  align-items: center;
  cursor: pointer;
}
.accordion .accordion__item .accordion__item-trigger .trigger__num {
  margin-right: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.035em;
  color: #8547C6;
}
.accordion .accordion__item .accordion__item-trigger .trigger__text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: 0.035em;
  color: #fff;
  margin-left: 10px;
}
@media (max-width: 480px) {
  .accordion .accordion__item .accordion__item-trigger .trigger__text {
    font-size: 20px;
  }
}
.accordion .accordion__item .accordion__item-trigger .trigger__img {
  position: relative;
  margin-left: auto;
}
.accordion .accordion__item .accordion__item-trigger .trigger__img .line1 {
  display: block;
  width: 18px;
  height: 2px;
  background: #fff;
  border-radius: 100px;
}
.accordion .accordion__item .accordion__item-trigger .trigger__img .line2 {
  display: block;
  width: 18px;
  height: 2px;
  background: #fff;
  margin-top: -2px;
  border-radius: 100px;
  transform: rotate(90deg);
}
.accordion .accordion__item .accordion__item-content {
  padding-bottom: 20px;
  display: none;
  animation: fade 0.3s ease;
}
.accordion .accordion__item .accordion__item-content .content__text {
  font-size: 22px;
  margin-top: 25px;
  padding-left: 10px;
}
.accordion .accordion__item .accordion__item-content .content__text:first-child {
  margin-top: 0;
}
.accordion .accordion__item .accordion__item-content .content__text a {
  font-weight: 600;
  color: #0000ee;
  text-decoration: underline;
}

.payment {
  background: #171717;
}
.payment__wrapper {
  margin: 20px 0 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 20px;
}
@media (max-width: 920px) {
  .payment__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .payment__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .payment__wrapper {
    grid-template-columns: 1fr;
  }
}
.payment__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}
.payment__item-img {
  max-width: 140px;
}
@media (max-width: 768px) {
  .payment__item-img {
    max-width: 80px;
  }
}
@media (max-width: 480px) {
  .payment__item-img {
    max-width: 60px;
  }
}
.payment__item-img img {
  max-width: 100%;
  width: 100%;
}
.payment__item-text {
  text-align: center;
  font-size: 22px;
  line-height: 1.1;
}
@media (max-width: 480px) {
  .payment__item-text {
    font-size: 19px;
  }
}
.payment__item-text span {
  font-weight: 600;
}
.payment__btn {
  max-width: 330px;
  width: 100%;
  margin: 0 auto;
}

.about__wrapper {
  display: flex;
  gap: 20px 50px;
}
@media (max-width: 768px) {
  .about__wrapper {
    flex-direction: column;
  }
}
.about__img {
  max-width: 500px;
}
.about__img img {
  border-radius: 10px;
  max-width: 100%;
  width: 100%;
}
.about__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about__text {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.1;
}
@media (max-width: 480px) {
  .about__text {
    font-size: 18px;
  }
}
.about__swiper {
  max-width: 500px;
  width: 100%;
  padding-bottom: 40px;
}

.review {
  padding-bottom: 20px;
}
.review__video {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px 25px;
}
@media (max-width: 850px) {
  .review__video {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 480px) {
  .review__video {
    grid-template-columns: 1fr;
    gap: 20px 20px;
  }
}
.review__video iframe {
  max-width: 100%;
  width: 100%;
  height: 700px;
  border-radius: 10px;
}
@media (max-width: 968px) {
  .review__video iframe {
    height: 500px;
  }
}
@media (max-width: 850px) {
  .review__video iframe {
    height: 550px;
  }
}
@media (max-width: 768px) {
  .review__video iframe {
    height: 350px;
  }
}
@media (max-width: 768px) {
  .review__video iframe {
    height: 500px;
  }
}
.review__swiper {
  padding-top: 50px;
  padding-bottom: 30px;
  max-width: 100%;
}
@media (max-width: 768px) {
  .review__slider {
    padding-bottom: 30px;
  }
}
.review__slide {
  text-align: center;
}
.review__slide-icon {
  max-width: 110px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border-radius: 10px;
}
.review__btn {
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.review__btns {
  max-width: 150px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .review__btns {
    margin-top: 60px;
  }
}
@media (max-width: 768px) {
  .review__btns {
    display: none;
  }
}
.swiper-button-prev, .swiper-button-next {
  display: none;
}
@media (max-width: 1280px) {
  .swiper-button-prev, .swiper-button-next {
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

.swiper-pagination-bullet {
  background: #fff;
}

.swiper-pagination-bullet-active {
  background: #18b5d8;
}

.footer {
  background: #171717;
}
.footer__wrapper {
  justify-content: space-between;
}
@media (max-width: 480px) {
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
.footer__box {
  max-width: none;
  width: auto;
}
.footer__box p, .footer__box a {
  font-size: 15px !important;
}
.footer__logo {
  position: relative;
  left: -13px;
  top: -5px;
  margin-bottom: 0;
}
@media (max-width: 480px) {
  .footer__logo {
    position: static;
  }
}
.footer__text {
  font-size: 16px;
  line-height: 1.1;
}
.footer__rights {
  margin-top: 10px;
  max-width: 100%;
  text-align: center;
  width: 100%;
  margin-top: 60px;
  font-size: 22px;
  line-height: 1.1;
}
@media (max-width: 768px) {
  .footer__rights {
    font-size: 19px;
  }
}
@media (max-width: 480px) {
  .footer__rights {
    font-size: 16px;
  }
}
.footer__soc {
  display: flex;
  flex-direction: column;
  margin-top: 1px;
}
.footer__soc-link {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 10px;
  font-size: 16px;
}
.footer__soc-link img {
  max-width: 70px;
  width: 100%;
}
.footer__policy {
  display: block;
  padding-bottom: 5px;
  text-decoration: underline;
}
.footer__inn {
  font-style: normal;
  margin-top: 0;
  position: relative;
  top: -5px;
}

.policy {
  max-width: 900px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  color: #000;
}
@media (max-width: 480px) {
  .policy {
    font-size: 20px;
    line-height: 1.2;
  }
}
.policy__title {
  text-align: center;
  margin: 30px 0 60px;
  display: flex;
  flex-direction: column;
}

.tinkoffPayWidget {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}
.tinkoffPayWidget .hero__btn {
  padding: 15px;
  cursor: pointer;
  transition: all 0.3s;
}
.tinkoffPayWidget .hero__btn:hover {
  background: #028faf;
}

.tinkoffPayForm {
  padding: 25px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.tinkoffPayForm p, .tinkoffPayForm a, .tinkoffPayForm button, .tinkoffPayForm .hero__btn {
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
}

.tinkoffPayRow,
input[type=text],
input[type=email],
input[type=tel],
input[type=hidden] {
  max-width: 100%;
  width: 100%;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  transition: 0.3s;
  border: 1px solid #ecf1f7;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  outline: none;
  background-color: #ecf1f7;
  resize: none;
  color: rgba(0, 0, 0, 0.664);
  font-size: 15px;
}

.mfp-close {
  position: relative;
  width: auto;
  height: auto;
  line-height: 1;
}/*# sourceMappingURL=main.css.map */